body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
}

h1
{
  color: #66BFBF;
  font-size: 5.625em;
  line-height: 2;
  margin: 50px 0 auto 0;
font-family: 'Sacramento', cursive;
}
h2
{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;

  font-size: 2.5em;
  font-weight: normal;
  padding-bottom: 10px;
}
h3
{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p
{
  line-height: 2;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover
{
  color: #EAF6F6;

}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  font-size: 1.499rem;
}
.pro
{
  text-decoration: underline;
}
.intro
{
  width: 30%;
  margin: auto;
}
.contact-message
{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright
{
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}
.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container
{
  margin: 100px 0;
}
.bottom-container
{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.top-cloud
{
  position: absolute;
  right: 300px;
  top: 40px;

}
.bottom-cloud
{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;

  border-radius: 50%;
}
.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn
{
  background: #11cdd4;

  border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
